p {


    color: green;

}
body {
    background-color: lightblue;
  }
  
h1 {
    font-size: 24px;
  }
  
.text {
    color: yellow;
  }

#traintrack {
    width: 800px;
    height: auto;
}

@media only screen and (max-width: 600px) {
  #traintrack {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  #traintrack {
    max-width: 600px;
    width: 100%;
  }
}

.button {
  width: auto;
}

.tricalcbutton {
  width: auto;
}